In [8]:
# pip install pandas
import pandas as pd

print(pd.__version__)

1.4.1

### Data Series

In [11]:
data = [1, 7, 2]
data_serire = pd.Series(data)
print(data_serire)

0    1
1    7
2    2
dtype: int64

### Data Labels

In [16]:
data = [1, 'Raj', 'KTM']
myvar = pd.Series(data, index = ["id", "name", "address"])
print(myvar)
print()
print(myvar['id'])
print(myvar['name'])
print(myvar['address'])

id           1
name       Raj
address    KTM
dtype: object

1
Raj
KTM

In [19]:
# Example-2
data = {"id": 1, "name":"Raj", "address": "KTM"}
myvar = pd.Series(data)
print(myvar)

id           1
name       Raj
address    KTM
dtype: object

In [20]:
# Example-3
mydataset = {
  'cars': ["BMW", "Volvo", "Ford"],
  'seats': [3, 7, 2]
}

pd1 = pd.DataFrame(mydataset)
print(pd1)

    cars  seats
0    BMW      3
1  Volvo      7
2   Ford      2

### DataFrame